In [1]:
import pandas as pd
import numpy as np
import inspect
from jupyter_dash import JupyterDash


from alpha_research.MultiAssetResearch import MultiAssetResearch
from alpha_research.utils import print_code
from alpha_research.factor_zoo.alpha_101 import alpha_1
from alpha_research.factor_zoo.utils import *

In [2]:
data = pd.read_csv(r'../hsi_component.csv')
data['Date'] = pd.to_datetime(data['Date'])
data.set_index(['Date', 'code'], inplace=True)
data.head()

                      open    high     low   close    volume  dividends  \
Date       code
2010-06-17 0001.HK  43.094  43.094  42.639  43.046   3549306        0.0
           0002.HK  37.355  37.388  36.592  36.824   2250739        0.0
           0003.HK   5.796   5.859   5.764   5.840  14426271        0.0
           0005.HK  46.139  46.232  45.705  45.984  10545908        0.0
           0006.HK  25.578  25.744  25.384  25.440   3398904        0.0

                    stock splits
Date       code
2010-06-17 0001.HK           0.0
           0002.HK           0.0
           0003.HK           0.0
           0005.HK           0.0
           0006.HK           0.0

In [3]:
benchmark = pd.read_csv(r'../^HSI_1986-12-31 00:00:00_2020-07-07 00:00:00.csv')
benchmark['Date'] = pd.to_datetime(benchmark['Date'])
benchmark.set_index('Date', inplace=True)
benchmark = benchmark['close']
benchmark.head()

Date
1986-12-31    2568.3
1987-01-02    2540.1
1987-01-05    2552.4
1987-01-06    2583.9
1987-01-07    2607.1
Name: close, dtype: float64

In [4]:
group = {'0001.HK': 'Commerce & Industry', '0002.HK': 'Utilities', '0003.HK': 'Utilities', '0005.HK': 'Finance',
         '0006.HK': 'Utilities', '0011.HK': 'Finance','0012.HK': 'Properties', '0016.HK': 'Properties', 
         '0017.HK': 'Properties','0019.HK': 'Commerce & Industry', '0066.HK': 'Commerce & Industry', 
         '0083.HK': 'Properties','0101.HK': 'Properties', '0151.HK': 'Commerce & Industry', 
         '0175.HK': 'Commerce & Industry','0267.HK': 'Commerce & Industry', '0386.HK': 'Commerce & Industry', 
         '0388.HK': 'Finance','0669.HK': 'Commerce & Industry', '0688.HK': 'Properties', 
         '0700.HK': 'Commerce & Industry','0762.HK': 'Commerce & Industry', '0823.HK': 'Properties', 
         '0857.HK': 'Commerce & Industry','0883.HK': 'Commerce & Industry', '0939.HK': 'Finance', 
         '0941.HK': 'Commerce & Industry','1038.HK': 'Utilities', '1044.HK': 'Commerce & Industry', 
         '1088.HK': 'Commerce & Industry','1093.HK': 'Commerce & Industry', '1109.HK': 'Properties', 
         '1177.HK': 'Commerce & Industry', '1398.HK': 'Finance', '1928.HK': 'Commerce & Industry', 
         '2007.HK': 'Properties','2018.HK': 'Commerce & Industry', '2313.HK': 'Commerce & Industry', 
         '2318.HK': 'Finance','2319.HK': 'Commerce & Industry', '2382.HK': 'Commerce & Industry', 
         '2388.HK': 'Finance','2628.HK': 'Finance', '3328.HK': 'Finance', '3988.HK': 'Finance', 
         '1299.HK': 'Finance','0027.HK': 'Commerce & Industry', '0288.HK': 'Commerce & Industry',
         '1113.HK': 'Properties', '1997.HK': 'Properties'}

In [5]:
multi_study = MultiAssetResearch(data)
multi_study.set_asset_group(group)
multi_study.set_benchmark(benchmark)

In [6]:
print_code(alpha_1)

def alpha_1(df: pd.DataFrame):
    """
    Alpha#1: (rank(Ts_ArgMax(SignedPower(((returns < 0) ? stddev(returns, 20) : close), 2.), 5)) - 0.5)
    :return:
    """
    _close = df['close']
    _ret = returns(_close)
    _cond = pd.Series(np.where(_ret < np.zeros_like(_ret.shape[0]), stddev(_ret, 20), _close), index=_close.index)
    return rank(ts_argmax(signedpower(_cond, 2), 5) - 0.5)

In [7]:
multi_study.calculate_factor(alpha_1)

In [8]:
external_stylesheets = ['https://codepen.io/chriddyp/pen/bWLwgP.css']
dash = JupyterDash(__name__, external_stylesheets=external_stylesheets)
app = multi_study.get_evaluation_dash_app(dash)

In [10]:
app.run_server(host='localhost',mode='external', debug=True, port=8060)

Dash app running on http://localhost:8060/

Empty DataFrame
Columns: []
Index: [IC Mean, IC Std., Risk-Adjusted IC, t-stat(IC), p-value(IC), IC Skew, IC Kurtosis]

/Users/liujunyue/anaconda3/envs/alphaFactory/lib/python3.7/site-packages/numpy/lib/function_base.py:2534: RuntimeWarning:

invalid value encountered in true_divide

/Users/liujunyue/anaconda3/envs/alphaFactory/lib/python3.7/site-packages/numpy/lib/function_base.py:2535: RuntimeWarning:

invalid value encountered in true_divide

/Users/liujunyue/anaconda3/envs/alphaFactory/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning:

invalid value encountered in greater

/Users/liujunyue/anaconda3/envs/alphaFactory/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:903: RuntimeWarning:

invalid value encountered in less

/Users/liujunyue/anaconda3/envs/alphaFactory/lib/python3.7/site-packages/scipy/stats/_distn_infrastructure.py:1912: RuntimeWarning:

invalid value encountered in less_equal